

/*Ingrese difrentes clases para la mejora de mi pagina web */

.hoja1{
    background-color: rgb(218, 216, 216);
}

/*Cabe destacar que cree diferentes clases para una buena edicion de las etiquetas de mi pagina web
 y utilize cada una de ellas en mi index.html */

 /*Aqui hize una aliniacion personalizada de la por decir asi mi portada de la pagina web*/
.imagen{
    position: relative;;
    top: 300;
    left: 25%;
    width: 50%;
}
/*Aliniacion personalizada del texto sobre mi informacion digital */
.letrero{
    display: block;
    margin: auto;
    color:blue;
    text-align: center;
}

/*Esta clase la utilize en el pie de pagina de  mi web el cual di una posicion exacta con diferentes
propiedades ademas de que añadi un background para el fondo de color de mi texto entre otras opciones*/
.pie{
    color: beige;
    position: relative;
    padding: 15px;
    font-size: 150%;
    clear: both;
    text-align: center;
    margin-top: 30%;
  background-color: crimson;
}

/*Clase para la imagen 2 con la cual le di forma de circulo  a la imagen */
.poxs44{
        position: relative;
    top: 300;
    left: 42%;
    width: 100px;
    width: 18%;
    height: 300px;
    border-radius: 150px;
}
/**/
.hoja2{
    border: 3px solid gray;
    }
.letra{
    text-align: center;
    color: blue;
}
.lista{
    border: 3px solid gray;
    text-align: center;
    color:white;
}
/*Posicion de la tabla*/
.tabla{
    left: 20%;
}

/*color de texto y alinear texto*/
.enunciado{
    text-align: center;
    color:blue;
}
/*Personalizacion de la imagen 3 sobre mis datos adicionales*/
.adicionales
{
    position: relative;
    top: 300;
    left: 30%;
    width: 500px;
    height: 400px;
}
/*Clase que utilize para centrar diferentes textos*/
.aditexto{

    text-align: center;
}

